*/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
	background-color: white;
	position:absolute;
  width: 100%;
	display: grid;
  grid-template-areas: "header"
                     "main"
                     "section"
                     "aside"
                     "footer"; 
                     

       }


.productosgrilla { 
	display: grid;
	grid-template-areas: "main main main"
	                      "main main main"
						  "main main main";
}

@media screen and ( max-width: 780px) {
	.productosgrilla{
		display: grid;
		grid-template-areas:" main"
		                     "main"
							 "main"
							 "main"
							 "main"
							 "main"
							 "main"
							 "main"
							 "main" ;
	}
}


header {
	grid-area: header;
	margin-bottom: 10px;

}

main{
	grid-area: main;
width: 100%;

}

aside {
	grid-area: aside;
}
section{
	grid-area: section;
}

footer {
	grid-area: footer;
}

h1 {
	font-size: 30px;
	
	font-family: 'Dela Gothic One', cursive;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	padding: 25px;
	box-shadow: 4px 4px 3px lightgrey;
	
}

.boxmodeling{ 
display: inline-block; }

@media (max-width:425px){
	html{
		font-size: 100%;
	}
}

div p {
	color: grey;
	font-size: 20px;
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 20px;
	border-bottom: 2px solid grey;

}

.copy {
	color: grey;
	font-size: 15px;
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 20px;
	border-bottom: 0;
}

p b {
	font-family: 'Dela Gothic One', cursive;
	color: black;
	font-size:40px;
	text-shadow: 25px 10px 8px grey;
	padding: 50px 20px 20px 20px;

}
.img-tamano {
	width: 350px;
	height: 350px;
	margin-bottom: 20px;
}
.img-tamano:hover {
	width: 250px;
	height: 250px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 15px lightgrey;

}

div a  {
	text-decoration:none ;
	color: black;
	outline-width: 5px;
	list-style: none;
}
div a:hover {
	text-decoration:overline ;
	color: grey;
	outline-width: 5px;
	list-style: none;
}

.header__contenedor {
	display: flex;
	justify-content: space-around;
}

  .seccion__primera { 
  display: flex;
  justify-content: center;
   }

.seccion__intermedia {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 5px;
}

.seccion__intermedia--2{
	margin-left: 50px;

}
.seccion__segunda {
	display: flex;
	justify-content: space-around;
}



.productos {
	display: flex;
	position: relative;
	justify-content: space-around;
	
  
}

#n-nuevo::before{
	content: 'Nuevo';
	background-color: white;
	color:gray;
	position: absolute;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#rebaja::before{
	content: '30% Off';
	background-color: white;
	color: gray;
	position: absolute;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.productos--div{
	width: 360px;
	height: 438px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
}

.productos--div:hover{
	transform: translate(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.imgprod {
	position: relative;
	height:260px ;
	width: 260px;
	margin-left: 50px;
	margin-right: 50px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.imgprod:hover {
	position: relative;
	height:260px ;
	width: 260px;
	margin-left: 50px;
	margin-right: 50px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.logoimg {
	width: 50px;
	height: 50px;
}

.seccion__primera--contacto{
	display: flex;
justify-content: space-around;
}

.card{
	width: 330px;
	height: 438px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
  
}

.card:hover{
	transform: translate(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

	
}
.conteiner{
	width: 100%;
}


.cont {
	border-bottom: none;
}

h3{
	font-family:  'Dela Gothic One', cursive;
	color: grey;
	text-align: center;

}
h4{
	font-family:  'Dela Gothic One', cursive;
	color: grey;

}
h5{
	font-family:  'Dela Gothic One', cursive;
color: grey;}


.card {
	font-family:Verdana, Geneva, Tahoma, sans-serif ;
}


.imagenwpp {
height: 300px;
width: 300px;
font-family:  'Dela Gothic One', cursive;
	
}

.imgmail {
	height: 200px;
width: 270px;
font-family:  'Dela Gothic One', cursive;

}
.imginstagram {
	height: 200px;
width: 270px;
font-family:  'Dela Gothic One', cursive;

}

.imgkids {
	display: grid;
	grid-template-areas: "main main main"
	                      "main main main"
						  "main main main";
 
}                         

@media screen and (max-width:500px){
	.imgkids{
		display: grid;
		grid-template-areas: "main"
		                      "main"
							  "main";
							  
	}
	;
}
.imgkids1{
	height: 250px;
	width: 250px;
}

.kidscard {
	
	padding-right: 30px;
	padding-left: 30px;
	width: auto;
	height: 438px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
	
}


.kidscard:hover{
	transform: translate(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}


.contenedor__ubicacion {
	display: inline;
	text-align: center;

}

.logoubicacion{
	width: 50px;
	height: 50px;
	margin-right: 30px;
	
}

.textubicacion{
	font-size: 20px;
	font-family:  'Dela Gothic One', cursive;
	margin-bottom: 70px;
}

.titulolocales{
	margin-bottom: 100px;
	background-color: white;
}


.mainlocales {
	background-image: url(img/imagenmaps.jpg);
}

.imglocales{
	margin-top: 40px;
}

.parrafopadre{
	display: flex;
	justify-content: center;
}

.parrafo__nosotros{
	padding-right: 50px;
	padding-left: 50px;
	width:100%;
	
	margin: 20px;
	text-align: center;


}



.imgnos{
	height:250px ;
	width:500px ;
	margin-bottom: 0;
}

H3 p {
	
padding: 5px;
overflow: auto;
font-family: 'Dela Gothic One', cursive;
font-size: 25px;
color: grey;
text-align: center;
}



	

@media screen and (max-width: 768px){
	
.texto1 {
	width: 100%;
}



 .kidscard{
	 display: flex;
	 justify-content: center;
 }

 aside {
	display: grid;
	grid-template-areas: "aside"
						  "aside";
}


}



@media screen and (min-width: 480px) and (max-width: 768px){
	.kidscard{
		display: flex;
		justify-content: center;
	}

	.productos--div{
		width: auto;
	}

	.kidscard{
		display: grid;
		grid-template-areas: "main"
		                      "main"
							  "main";
	}
    aside {
		display: grid;
		grid-template-areas: "aside"
		                      "aside";
	}
   

}

@media screen and (max-width:320px){

	
	.productos--div{
		width: auto;
	}
	
}

@media screen and (max-width:480px){

	footer{
		display: grid;
		grid-template-areas: "footer";

	}
	
}




@media (max-width: 768px) {
	ul li {
	  width: 100%;
	  padding: 15px;
	  text-align: left;
	}
  
	
  

  }

  .row .col {
	  display: flex;
	  justify-content: space-around;
  }

  

  header{
      background-color: white;

    .logo {
        width: 70px;
        height: 70px;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 60px;
    }
    .logoimg {
        width: 50px;
        height: 50px;
    }
    .logoubicacion{
        width: 50px;
        height: 50px;
        margin-right: 30px;
        
    }
    navbar-collapse{
        justify-content: end;
    }
    
    navbar-light .navbar-nav .nav-link{
        font-size: 1,3rem;
        font-family: 'Dela Gothic One', cursive;
        color: black;
        margin: 0 20px;
    }
  }

  main{
    h2 {
        font-size: 1.5rem;
        font-family: 'Dela Gothic One', cursive;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
        padding: 25px;
        box-shadow: 4px 4px 3px lightgrey;
    }
    .vermasnuevo{
        list-style: none;
        display: flex;
        justify-content: center;
        position: relative;
        font-size: 20px;
        margin-bottom: 70px;
        margin-top: 15px;
        font-family: 'Dela Gothic One', cursive;
    }
    
    .vermas {
        display: flex;
        justify-content: center;
    }
    
  }

aside{
    display: flex;
	justify-content: space-around;
    
    .imgaside {
        display: flex;
        width: 350px;
    }
  }

footer{
    background-color: lightgrey;
    margin-top: 50px;
	margin-bottom: 50px;
    ul{
        display:flex;
	justify-content: space-around;
    }
  }