*/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import "vars";

body {

background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23A59FA1' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23C5B7C1'%3E%3Ccircle cx='769' cy='229' r='10'/%3E%3Ccircle cx='539' cy='269' r='10'/%3E%3Ccircle cx='603' cy='493' r='10'/%3E%3Ccircle cx='731' cy='737' r='10'/%3E%3Ccircle cx='520' cy='660' r='10'/%3E%3Ccircle cx='309' cy='538' r='10'/%3E%3Ccircle cx='295' cy='764' r='10'/%3E%3Ccircle cx='40' cy='599' r='10'/%3E%3Ccircle cx='102' cy='382' r='10'/%3E%3Ccircle cx='127' cy='80' r='10'/%3E%3Ccircle cx='370' cy='105' r='10'/%3E%3Ccircle cx='578' cy='42' r='10'/%3E%3Ccircle cx='237' cy='261' r='10'/%3E%3Ccircle cx='390' cy='382' r='10'/%3E%3C/g%3E%3C/svg%3E");
	
	position:absolute;
  width: 100%;
	display: grid;
  grid-template-areas: "header"
                     "main"
                     "section"
                     "aside"
                     "footer"; 
                     
       }
header {
	grid-area: header;
	margin-bottom: 10px;

}

main{
	grid-area: main;
width: 100%;
}

aside {
	grid-area: aside;
}
section{
	grid-area: section;
}

footer {
	grid-area: footer;
}

.boxmodeling{ 
display: inline-block; }

p b {
	font-family: 'Dela Gothic One', cursive;
	color: black;
	font-size:40px;
	text-shadow: 25px 10px 8px grey;
	padding: 50px 20px 20px 20px;

}
.conteiner{
	width: 100%;
}
.cont {
	border-bottom: none;
}

/*Sector de media queries*/

@media screen and ( max-width: $tablet) {
	.productosgrilla{
		display: grid;
		grid-template-areas:" main"
		                     "main"
							 "main"
							 "main"
							 "main"
							 "main"
							 "main"
							 "main"
							 "main" ;
	}
}

@media screen and (max-width: $mobile){
	.imgkids{
		display: grid;
		grid-template-areas: "main"
		                      "main"
							  "main";
							  
	}
}
@media (max-width: $mobile){
	html{
		font-size: 100%;
	}
}
@media screen and (max-width: $tablet){
	
       .texto1 {
	width: 100%;
}

       .kidscard{
	 display: flex;
	 justify-content: center;
 }

       aside {
	display: grid;
	grid-template-areas: "aside"
						  "aside";
}
}

@media screen and (min-width: $mobile) and (max-width: $tablet){
	.kidscard{
		display: flex;
		justify-content: center;
	}

	.productos--div{
		width: auto;
	}

	.kidscard{
		display: grid;
		grid-template-areas: "main"
		                      "main"
							  "main";
	}
    aside {
		display: grid;
		grid-template-areas: "aside"
		                      "aside";
	}
}

@media screen and (max-width: $mobile){

	.productos--div{
		width: auto;
	}
	
}

@media screen and (max-width:$mobile){

	footer{
		display: grid;
		grid-template-areas: "footer";
	}	
}

@media (max-width: $tablet) {
	ul li {
	  width: 100%;
	  padding: 15px;
	  text-align: left;
	}
  }

  .row .col {
	  display: flex;
	  justify-content: space-around;
  }

  /* Optimizando con Sass*/

  header{
      background-color: $colorPrincipal;
    
	  .header__contenedor {
		display: flex;
		justify-content: space-around;
	}
    .logoimg {
        width: 50px;
        height: 50px;
    }
    .logoubicacion{
        width: 50px;
        height: 50px;
        margin-right: 30px;
        
    }
    navbar-collapse{
        justify-content: end;
    }
    
    navbar-light .navbar-nav .nav-link{
        font-size: 1,3rem;
        font-family: 'Dela Gothic One', cursive;
        color: $colorSecundario;
        margin: 0 20px;
    }
  }

  main{

	/* Pagina index*/
	h1 {
		font-size: 30px;
		
		font-family: 'Dela Gothic One', cursive;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		padding: 25px;
		box-shadow: 4px 4px 3px $colorSecundario
		
	}
    h2 {
		font{
			size: 1.5rem;
		}
        font-family: 'Dela Gothic One', cursive;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
        padding: 25px;
        box-shadow: 4px 4px 3px $colorShadow;

    }
	/* Sector Productos*/

	.productosgrilla { 
		display: grid;
		grid-template-areas: "main main main"
							  "main main main"
							  "main main main";
	}
	.productos {
		display: flex;
		position: relative;
		justify-content: space-around;
		align-items: center;
	}
	
#n-nuevo::before{
	content: 'Nuevo';
	background-color: $colorPrincipal;
	color: $colorTerciario;
	position: absolute;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#rebaja::before{
	content: '30% Off';
	background-color: $colorPrincipal;
	color: $colorTerciario;
	position: absolute;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.productos--div{
	width: 360px;
	height: 438px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
}

.productos--div:hover{
	transform: translate(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
	.imgprod {
		position: relative;
		height:260px ;
		width: 260px;
		margin-left: 50px;
		margin-right: 50px;
	   margin-top: 10px;
	   margin-bottom: 10px;
	}
	
	.imgprod:hover {
		position: relative;
		height:260px ;
		width: 260px;
		margin-left: 50px;
		margin-right: 50px;
	   margin-top: 10px;
	   margin-bottom: 10px;
	}

	/* Ver mas index*/
    .vermasnuevo{
        list-style: none;
        display: flex;
        justify-content: center;
        position: relative;
        font-size: 20px;
        margin-bottom: 70px;
        margin-top: 15px;
        font-family: 'Dela Gothic One', cursive;
    }
    
    .vermas {
        display: flex;
        justify-content: center;
    }
	div a  {
		text-decoration:none ;
		color: black;
		outline-width: 5px;
		list-style: none;
	}
	div a:hover {
		text-decoration:overline ;
		color: grey;
		outline-width: 5px;
		list-style: none;
	}
	
	/*Sector ubicacion*/

	.contenedor__ubicacion {
		display: inline;
		text-align: center;
	
	}
	
	.logoubicacion{
		width: 50px;
		height: 50px;
		margin-right: 30px;
		
	}
	
	.textubicacion{
		font-size: 20px;
		font-family:  'Dela Gothic One', cursive;
		margin-bottom: 70px;
	}
	
	.titulolocales{
		margin-bottom: 100px;
		background-color: $colorPrincipal
	}
	
	.imglocales{
		margin-top: 40px;
	}
    
  }

section{

	/*Sector Nosotros*/

	H3 p {	
		padding: 5px;
		overflow: auto;
		font-family: 'Dela Gothic One', cursive;
		font-size: 25px;
		color: $colorTerciario;
		text-align: center;
		}
		div p {
			color: black;
			font-size: 20px;
			font-family: 'Roboto Mono', monospace;
			text-align: center;
			margin-bottom: 60px;
			margin-top: 20px;
			border-bottom: 2px solid grey;
		}
		h3{
			font-family:  'Dela Gothic One', cursive;
			color: $colorTerciario;
			text-align: center;
		}

		.parrafopadre{
			display: flex;
			justify-content: center;
		}
		
		.parrafo__nosotros{
			padding-right: 50px;
			padding-left: 50px;
			padding-bottom: 50px;
			width:100%;
			margin: 20px;
			text-align: center;
			border-bottom: none;
		}
    
		/*Sector Kids*/

		.imgkids1{
			height: 250px;
			width: 250px;
		}
		
		.kidscard {
			
			padding-right: 30px;
			padding-left: 30px;
			width: auto;
			height: 438px;
			border-radius: 8px;
			box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
			overflow: hidden;
			margin: 20px;
			text-align: center;
			transition: all 0.25s;
			
		}

		.kidscard:hover{
			transform: translate(-15px);
			box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
		}
		.imgkids {
			display: grid;
			grid-template-areas: "main main main"
								  "main main main"
								  "main main main";
		}  

		/* Sector Contactos */
		.card {
			font-family:Verdana, Geneva, Tahoma, sans-serif ;
		}
		.card{
			width: 330px;
			height: 438px;
			border-radius: 8px;
			box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
			overflow: hidden;
			margin: 20px;
			text-align: center;
			transition: all 0.25s;
		  
		}
		.card:hover{
			transform: translate(-15px);
			box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
		}
		.seccion__primera--contacto{
			display: flex;
			justify-content: space-around;
			}
		.imagenwpp {
		height: 300px;
		width: 300px;
		font-family:  'Dela Gothic One', cursive;
			
		}
		
		.imgmail {
			height: 200px;
		width: 270px;
		font-family:  'Dela Gothic One', cursive;
		
		}
		.imginstagram {
			height: 200px;
		width: 270px;
		font-family:  'Dela Gothic One', cursive;
		}
}

aside{
    display: flex;
	justify-content: space-around;

    .imgaside {
        display: flex;
    }
  }

footer{
    background-color:$colorShadow;
    margin-top: 50px;
	margin-bottom: 50px;
    ul{
        display:flex;
	justify-content: space-around;
    }
  }


  /* maps*/

  $red-social: (
	  tw: lightblue
	  fb: blue
	  mail:white
	  in:darkblue
	  wpp:green
	  ig:violet
  );

  @each $nombre, $valor in $red-social {
	  .icon__red-#{$nombre}{
		  color: $valor;
	  }
  }

  $colores:(
	  color1:white
	  color2:grey
	  color3:black
  );
  .navbar-nav{
	  background-color: map-get($map: $colores, $key: color2 );
  }

  /* extend*/

  .logoimg{
	  width: 50px;
	  height: 50px;
};

.logoubicacion{
	@extend .logoimg
};

/* mixins*/

@mixin btn {
	display: block;
	padding: 10px;
	border: 5px solid grey
}

.btn-secondary{
	@include btn;
	background-color: grey;
}




